@model IEnumerable<AppTour.Model.Models.Topic.TopicModel>
@{
    ViewBag.Title = @ViewRes.Topic.Titulo;
}
<p>
    @Html.ActionLink(@ViewRes.Topic.Novo, "Create", new { controller = "Topic" }, new { @class = "jbutton" })
</p>
<script type="text/javascript">
    $(function () {
        $(".jbutton").button();
        $(".edit").button({
            icons: {
                primary: "ui-icon-pencil"
            }
            , text: false
        });
        $(".trash").button({
            icons: {
                primary: "ui-icon-trash"
            }, text: false
        });
    });
</script>
<div class="ui-widget">
    <table class="ui-widget ui-widget-content">
        <thead>
            <tr>
                <th class="ui-widget-header">
                    @ViewRes.Topic.Theme
                </th>
                <th class="ui-widget-header">
                    @ViewRes.Topic.Nome
                </th>
                <th class="ui-widget-header">
                    @ViewRes.Topic.Imagem
                </th>
                <th class="ui-widget-header" style="text-align: center;">
                    @ViewRes.Topic.Activo
                </th>
                <th class="ui-widget-header">
                    @ViewRes.SharedStrings.CreationDate
                </th>
                <th class="ui-widget-header">
                    @ViewRes.SharedStrings.UpdateDate
                </th>
                <th class="ui-widget-header">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Theme.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name) <br />
                        <small>@Html.DisplayFor(modelItem => item.Description)</small>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td style="text-align: center;">
                        <img src= "@Url.Content("~/Content/images/" + @item.IsActive + ".png")" alt="@{ string value = @item.IsActive ? @ViewRes.SharedStrings.Activo : @ViewRes.SharedStrings.Inactivo; <text>@value</text> }"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td style="text-align: center; width: 120px;">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="edit" >@ViewRes.SharedStrings.Editar</a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="trash">@ViewRes.SharedStrings.Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
