@model IEnumerable<AppTour.Model.Models.Translation.TranslationModel>
@{
    ViewBag.Title = @ViewRes.Translation.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";

    RouteValueDictionary getQuery = new RouteValueDictionary(ViewContext.RouteData.Values);
    foreach (string key in Request.QueryString.Keys)
    {
        getQuery[key] = Request.QueryString[key].ToString();
    } 
}
<script type="text/javascript">
    $(function () {

        var data = null;
        $(".jbutton").button();
        $(".edit").button({
            icons: {
                primary: "ui-icon-pencil"
            }
            , text: false
        });
        $(".trash").button({
            icons: {
                primary: "ui-icon-trash"
            }, text: false
        });
        $(".trash").click(function () {
            $("#dialog:ui-dialog").dialog("destroy");
            $("#dialog-confirm").dialog("open");
            data = $(this).attr("id");
        });
        $( "#dialog-confirm" ).dialog({
			resizable: false,
			autoOpen: false,
			height:215,
			modal: true,
			show: { effect: 'drop', direction: "up" },
			hide: { effect: 'drop', direction: "down" },
			buttons: {
				"@ViewRes.SharedStrings.Apagar": function() {
				$.ajax(
				{
					url: "@Url.Content("~/Translation/DeleteRecord/")" + data,
					secureuri: false,
					dataType: 'text',
					success: function (data, status) {
						if (status == 'success') {
							if (data == 'Sucesso') {
								$("#dialog-form").dialog("close");
								setTimeout(function() { location.reload(); }, 500);
							}
						}
					},
					error: function (data, status, e) {
						alert(e);
					}
			
				});
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
				
        });
    });
</script>
@{ Html.RenderAction(getQuery["Table"].ToString(), getQuery["Instance"].ToString(), new { id = getQuery["ForeignId"].ToString() }); }
<p>
    @Html.ActionLink(@ViewRes.Translation.NewRecord, "CreateRecord", new { controller = "Translation", Table = @ViewBag.Table, ForeignId = @ViewBag.ForeignId, Instance = @ViewBag.Modelo }, new { @class = "jbutton" })
</p>
<fieldset>
    <legend>@ViewRes.Translation.TranslationHeader</legend>
    <div class="ui-widget">
        <table class="ui-widget ui-widget-content">
            <thead>
                <tr>
                    <th class="ui-widget-header">
                        @ViewRes.Translation.Language
                    </th>
                    <th class="ui-widget-header" style="width: 40px; text-align: center;">
                    </th>
                    <th class="ui-widget-header">
                        @ViewRes.Translation.Value
                    </th>
                    <th class="ui-widget-header">
                        @ViewRes.Translation.FieldName
                    </th>
                    <th class="ui-widget-header">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language.Name)
                        </td>
                        <td style="width: 40px; text-align: center;">
                            <img src="@Url.Content("~/Content/images/languages/" + item.Language.ISO2 + ".png")" alt="@item.Language.Name (@item.Language.ISO2)" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FieldName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td style="text-align: center; width: 100px;">
                            <a href="@Url.Action("EditRecord", new { id = item.Id, Table = getQuery["Table"].ToString(), ForeignId = getQuery["ForeignId"].ToString(), Instance = getQuery["Instance"].ToString() })" class="edit" >@ViewRes.SharedStrings.Editar</a>
                            <a href="#" id="@item.Id" class="trash">@ViewRes.SharedStrings.Apagar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>
<div id="dialog-confirm" title="@ViewRes.Translation.Apagar">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        @ViewRes.Translation.DeleteAccountMsg
    </p>
    <p style="text-align: right; font-weight: bold;">
        @ViewRes.Translation.DeleteAccountMsg1</p>
</div>
