@model AppTour.Model.Models.Author.AuthorModel
<script type="text/javascript">
	$(function () {
		$("input:submit, button, #button").button();
		$("#dialog:ui-dialog").dialog("destroy");
		$("#delete")
			.button()
			.click(function () {
				$("#delete-dialog").dialog("open");
			});
		$("#delete-dialog").dialog({
			resizable: false,
			autoOpen: false,
			height: 200,
			show: { effect: 'drop', direction: "up" },
			hide: { effect: 'drop', direction: "down" },
			modal: true,
			buttons: {
				"Apagar": function () {
					$(this).dialog("close");
					$("Form").submit();

				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});
	});
</script>
<div id="delete-dialog" title="@ViewRes.Author.Apagar" style="display: none;">
	<p>
		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
		@ViewRes.Author.DeleteMessage</p>
	<p style="text-align: right; font-weight: bold;">
		@ViewRes.Author.DeleteMessage1</p>
</div>
@if (ViewData.Count > 0)
{ 
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@foreach (var error in ViewData)
				{ 
					<strong>@error.Key</strong> @error.Value
				}
			</p>
		</div>
	</div>
}
else
{ 
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>@ViewRes.SharedStrings.Atencao</strong> @ViewRes.Author.ConfirmDelete <strong>@Model.Name</strong>?</p>
		</div>
	</div>
}
<fieldset>
	<legend>AuthorModel</legend>
	<div class="display-label">
		@ViewRes.Author.Empresa</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Enterprise.Name)
	</div>
	<div class="display-label">
		@ViewRes.Author.Nome</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
	<div class="display-label">
		@ViewRes.Author.RealName</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.RealName)
	</div>
	<div class="display-label">
		@ViewRes.Author.Email</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Email)
	</div>
	<div class="display-label">
		@ViewRes.SharedStrings.CreationDate</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.CreationDate)
	</div>
	<div class="display-label">
		@ViewRes.SharedStrings.UpdateDate</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.UpdateDate)
	</div>
</fieldset>
@using (Html.BeginForm("Delete/" + Model.Id, "Author", FormMethod.Post, new { id = "Form" }))
{
	<p>
		<a href="javascript:void(0);" id="delete">Delete</a>
		@Html.ActionLink(@ViewRes.Author.Lista, "Index", new { controller = "Author" }, new { id = "button" })
	</p>
}