@model AppTour.Model.Models.Country.CountryModel
@{
	ViewBag.Title = @ViewRes.Country.Apagar;
}
<script type="text/javascript">
	$(function () {
		$("input:submit, button, #button").button();
		$("#dialog:ui-dialog").dialog("destroy");
		$("#delete")
			.button()
			.click(function () {
				$("#delete-dialog").dialog("open");
			});
		$("#delete-dialog").dialog({
			resizable: false,
			autoOpen: false,
			height: 200,
			show: { effect: 'drop', direction: "up" },
			hide: { effect: 'drop', direction: "down" },
			modal: true,
			buttons: {
				"@ViewRes.SharedStrings.Apagar": function () {
					$(this).dialog("close");
					$("Form").submit();

				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});
	});
</script>
<div id="delete-dialog" title="@ViewRes.Country.Apagar" style="display: none;">
	<p>
		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
		@ViewRes.Country.DeleteMessage</p>
	<p style="text-align: right; font-weight: bold;">
		@ViewRes.Country.DeleteMessage1</p>
</div>
@if (ViewData.Count > 1)
{ 
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@foreach (var error in ViewData)
				{ 
					<strong>@error.Key</strong> @error.Value
				}
			</p>
		</div>
	</div>
}
else
{ 
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>@ViewRes.SharedStrings.Atencao</strong> @ViewRes.Country.ConfirmDelete <strong>@Model.Name</strong>?</p>
		</div>
	</div>
}
<fieldset>
	<legend>@ViewRes.Country.CountryHeader</legend>
	<div class="display-label">@ViewRes.Country.Nome</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
	<div class="display-label">@ViewRes.Country.ISO</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.ISO)
	</div>
	<div class="display-label">@ViewRes.Country.ISO3</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.ISO3)
	</div>
	<div class="display-label">@ViewRes.Country.CountryName</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.CountryName)
	</div>
	<div class="display-label">@ViewRes.Country.CountryCode</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.CountryCode)
	</div>
</fieldset>
@using (Html.BeginForm("Delete/" + Model.Id, "Country", FormMethod.Post, new { id = "Form" }))
{
	<p>
		<a href="javascript:void(0);" id="delete">@ViewRes.Country.Apagar</a>
		@Html.ActionLink(@ViewRes.Country.Lista, "Index", new { controller = "Country" }, new { id = "button" })
	</p>
}