@model AppTour.Model.Models.City.CityModel
@{
	ViewBag.Title = "Delete";
}
<script type="text/javascript">
	$(function () {
		$("input:submit, button, #button").button();
		$("#dialog:ui-dialog").dialog("destroy");
		$("#delete")
			.button()
			.click(function () {
				$("#delete-dialog").dialog("open");
			});
		$("#delete-dialog").dialog({
			resizable: false,
			autoOpen: false,
			height: 200,

			show: { effect: 'drop', direction: "up" },
			hide: { effect: 'drop', direction: "down" },

			modal: true,
			buttons: {
			    "@ViewRes.City.Apagar": function () {
					$(this).dialog("close");
					$("Form").submit();

				},
				Cancel: function () {
					$(this).dialog("close");
				}
			}
		});
	});
</script>
<div id="delete-dialog" title="@ViewRes.City.Apagar" style="display: none;">
	<p>
		<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
		@ViewRes.City.DeleteMsg</p>
	<p style="text-align: right; font-weight: bold;">
		@ViewRes.City.AreYouSure</p>
</div>

@if (ViewData.Count > 1)
{ 
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				@foreach (var error in ViewData)
				{ 
					<strong>@error.Key</strong> @error.Value
				}
			</p>
		</div>
	</div>
}
else
{ 
	<div class="ui-widget">
		<div class="ui-state-highlight ui-corner-all" style="margin-top: 2px; margin-bottom: 10px;
			padding: 0 .7em;">
			<p>
				<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>@ViewRes.SharedStrings.Atencao</strong> @ViewRes.City.DeleteMessage <strong>@Model.Name</strong>?</p>
		</div>
	</div>
}
<fieldset>
	<legend>@ViewRes.City.CityHeader</legend>
	<div class="display-label">@ViewRes.City.Pais</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Country.Name)
	</div>
	<div class="display-label">
		Name</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
</fieldset>
@using (Html.BeginForm("Delete/" + Model.Id, "City", FormMethod.Post, new { id = "Form" }))
{
	<p>
		<a href="javascript:void(0);" id="delete">@ViewRes.City.Apagar</a>
		@Html.ActionLink(@ViewRes.City.Lista, "Index", new { controller = "City" }, new { id = "button" })
	</p>
}