@model AppTour.Model.Models.Language.LanguageModel
@{
    ViewBag.Title = @ViewRes.Language.Editar;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $("input:submit, button, #button").button();
        $("#City_Id").addClass("text ui-widget ui-corner-all");
        $("#Name").addClass("text ui-widget-content ui-corner-all");
        $("#Address").addClass("text ui-widget-content ui-corner-all");
        $("#PostalCode").addClass("text ui-widget-content ui-corner-all");
        $("#Coordenate").addClass("text ui-widget-content ui-corner-all");
        $("#PhoneNumber").addClass("text ui-widget-content ui-corner-all");
        $("#SourceURL").addClass("text ui-widget-content ui-corner-all");
        $("#URL").addClass("text ui-widget-content ui-corner-all");
    });
</script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewRes.Language.LinguaHeader</legend>
        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.Label(@ViewRes.Language.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.Label(@ViewRes.Language.ISO)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISO2)
            @Html.ValidationMessageFor(model => model.ISO2)
        </div>
        <div class="editor-label">
            @Html.Label(@ViewRes.Language.Activo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" value="@ViewRes.Language.Editar" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink(@ViewRes.Language.Lista, "Index", new { controller = "Language" }, new { id = "button" })
</div>
