@model IEnumerable<AppTour.Model.Models.Enterprise.EnterpriseModel>
           
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @ViewRes.Enterprise.Titulo;
}
<p>
    @Html.ActionLink(@ViewRes.Enterprise.NovaEmpresa, "Create", new { controller = "Enterprise" }, new { @class = "jbutton" })
</p>
<script type="text/javascript">
    $(function () {
        $(".jbutton").button();
        $(".edit").button({
            icons: {
                primary: "ui-icon-pencil"
            }
            , text: false
        });
        $(".trash").button({
            icons: {
                primary: "ui-icon-trash"
            }, text: false
        });
    });
</script>
<div class="ui-widget">
    <table class="ui-widget ui-widget-content">
        <thead>
            <tr>
                <td class="ui-widget-header">
                    @ViewRes.Enterprise.Nome
                </td>
                <td class="ui-widget-header">
                    @ViewRes.Enterprise.Descricao
                </td>
                <td class="ui-widget-header" style="text-align: center;">
                    @ViewRes.SharedStrings.CreationDate
                </td>
                <td class="ui-widget-header" style="text-align: center;">
                    @ViewRes.SharedStrings.UpdateDate
                </td>
                <td class="ui-widget-header" style="width: 100px;">
                    &nbsp;
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.UpdateDate)
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="edit" >@ViewRes.SharedStrings.Editar</a>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="trash">@ViewRes.SharedStrings.Apagar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
